services:
  puppygraph:
    image: puppygraph/puppygraph:stable
    ports:
      - "8081:8081"
      - "18182:8182"
      - "17687:7687"
    environment:
      - PUPPYGRAPH_PASSWORD=puppygraph123
      - QUERY_TIMEOUT=5m
      - STORAGE_PATH_ROOT=/data/storage
    volumes:
      - ./storage:/data/storage
    restart: always

  mcp:
    image: shawoo/puppygraph-mcp
    restart: always
    command: uv sync && uv run jupyter lab --allow-root --ip=0.0.0.0 --NotebookApp.token='12345678'
    ports:
      - "15010:8888"
    volumes:
      - ./src:/app/src
